#body{
    background-color: aqua;
    width: 100%;
}



#divb{
    
    position: relative;
    width:50%;
    background-color: blueviolet;
    height:900px;
    left:400px;
    outline:6px solid black;
}
#moz{
    position: relative;
    left:150px;
    width:70%;
    text-shadow:2px 4px chocolate;
    color:rgb(10, 235, 243);
    font-size:50px;
    font-weight:900px;
    bottom:200px;
   
}
#mozp{
    position: relative;
    right:200px;
    width:40%;
    top:120px;
}

#span{
    position: relative;
    top:100px;
    font-family: Arial, Helvetica, sans-serif;

}
#para1,#para2{
    position: relative;
    left:20px;
}